
*{
	
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family:serif;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	list-style: none;
	
	}
.logo{
	width: 130px;
	height: 70px;
	margin: 0px;
	padding: 0px;
	height: 80px;
	object-fit:cover;
	align-items: center;
	
}



header{
 
display: flex;	
justify-content: space-between;
align-items: center;
padding-right: 10px;
height: 80px;
max-width: 1200px;



}

.menu , .lista{
	display: flex;
	align-items: center;
	justify-content: center;
}

.lista{

	gap: 30px;
}

/* ===================== MAIN===========================*/

main{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: brown;
	width: 100%;
	background-color: black;
	

}

/*====================== Hero ========================= */
#banner{
	
	margin-top: 10px;
	background-color: black;
	display: flex;
	justify-content:space-around;
	align-items: center;
	padding: 20px;
	
	
}

.banner-info{
	
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 50%;
}

.banner-info h1{
	margin-right: 15px;
	font-size: 48px;
	font-weight: 800px;
	width: 80%;
	color: whitesmoke;
	min-width: 500px;
}

.banner-info p{
	font-size: 14px;
	width: 90%;
	text-align: center;
	
	color: grey;
}

.conocer-mas{
width: 90%;	

align-items: center;
justify-content: center;
display: flex;

}


.banner-info a{
	border: solid 1px;
	color:wheat;
	background-color: blue;
	width: fit-content;
	text-align: center;	
	padding: 10px;
	border-radius: 10px;
}



.muestra{
	display: flex;
	height: 300px;
	border-radius: 5px;
	border-image: fill;
	
}
